@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

@if (@TempData["msg"] != null)
{
    <script>
        alert('@TempData["msg"]');
    </script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            var productList = Model.ToArray();
        }
        @for (var i = 0; i < productList.Length; i++)
        {
            @Html.HiddenFor(modelItem => productList[i].ProductId);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => productList[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => productList[i].Price)<br />
                    @Html.ValidationMessageFor(modelItem => productList[i].Price, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => productList[i].Active)<br />
                    @Html.ValidationMessageFor(modelItem => productList[i].Active, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => productList[i].Stock)<br />
                    @Html.ValidationMessageFor(modelItem => productList[i].Stock, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = productList[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = productList[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = productList[i].ProductId })
                </td>
            </tr>
        }
    </table>
    <input type="submit" name="name"  value="批次修改" />
}
